*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
    border-radius: 5px;
}

.content{
    max-width: 900px;
    margin: 0 auto;

}

.top-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top-section h1{
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
}
.top-section h4{
    font-size: 30px;
    text-align: end;
}

.display-image img{
    border-radius: 50%;
    overflow: hidden;
    width: 220px;
    transition: 550ms ease-in-out;
}


.display-image img:hover{
    width: 300px;
    cursor: pointer;
    transition: 550ms ease-in-out;
}

a{
    text-decoration: none;
    color: rgb(240, 42, 75);
}

.about-section{
    margin-top: 50px;
}
.about-section h2{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about-section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}
.books-section{
    margin: 50px 0;
}
.books-section h3{
    margin-bottom: 20px;
}
.books-section ul{
    margin: 50px;
}
.books-section li{
    margin-bottom: 15px;
}
footer{
    margin: 50px 0;
}
footer p{
    text-align: end;
}
